<section
    class="h2-reviews-swiper section-padding container flex max-w-[1170px] flex-col items-center justify-center overflow-hidden px-3 2xl:px-0">
    <h2 data-aos="zoom-in-up" class="heading-2">What our patient say</h2>
    <p data-aos="zoom-in-up" data-aos-delay="150" class="heading-tagline">
        World-class care for everyone. Our health System offers unmatched,
        expert health care.
    </p>

    <div class="swiper-wrapper w-full">
        <!-- Card 1 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-1.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We couldn't have asked for a better experience with our real
                estate agent, Sarah...”
            </p>
        </div>

        <!-- Card 2 -->

        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-2.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “Selling our home with Alex from ABC Realty was an absolute
                breeze. From the initial consultation to closing day.”
            </p>
        </div>

        <!-- Card 3 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-3.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We worked with Mark from GHI Realty to purchase our first
                investment property, and we couldn't be happier.”
            </p>
        </div>

        <!-- Card 4 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-4.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We couldn't have asked for a better experience with our real
                estate agent, Sarah...”
            </p>
        </div>

        <!-- Card 5 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-5.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “Selling our home with Alex from ABC Realty was an absolute
                breeze. From the initial consultation to closing day.”
            </p>
        </div>

        <!-- Card 6 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-6.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We worked with Mark from GHI Realty to purchase our first
                investment property, and we couldn't be happier.”
            </p>
        </div>

        <!-- Card 7 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-7.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We couldn't have asked for a better experience with our real
                estate agent, Sarah...”
            </p>
        </div>

        <!-- Card 8 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-8.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “Selling our home with Alex from ABC Realty was an absolute
                breeze. From the initial consultation to closing day.”
            </p>
        </div>

        <!-- Card 9 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-9.jpg" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                “We worked with Mark from GHI Realty to purchase our first
                investment property, and we couldn't be happier.”
            </p>
        </div>
    </div>

    <div data-aos="fade-in"
        class="h2-reviews-swiper-pagination static mx-auto mt-4 w-fit text-center md:mt-6 lg:mt-8 xl:mt-10"></div>
</section>